*, * *, * * * {
  box-sizing: border-box;
}

:root {
  --actual-height: 100vh;
  --main-bg-color: #222;
  --main-text-color: #ddd;
  --header-height: 4rem;

  --button-green: rgb(7, 65, 7);
  --button-yellow: rgb(169, 169, 53);
  --button-red: rgb(114, 22, 22);
  --button-orange: rgb(189, 132, 25);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 100ms ease;
  margin: 1rem;
  background-color: gray;
  color: white;
}

button:disabled {
  opacity: 0.5;
  background-color: gray !important;
  cursor: unset;
}

button:disabled:hover {
  outline: none;
}

button.green {
  color: #eee;
  background-color: var(--button-green);
  min-width: 10rem;
}
button.yellow {
  color: #eee;
  background-color: var(--button-yellow);
}
button.red {
  color: #eee;
  background-color: var(--button-red);
}
button.orange {
  color: #eee;
  background-color: var(--button-orange);
  min-width: 10rem;
}

button:hover {
  outline: 2px solid green;
  background-color: rgb(255, 219, 151, 0.5);
}

.App {
  display: flex;
  flex-direction: column;
  height: var(--actual-height);
}

main {
  margin: 1rem;
  flex-grow: 1;
}

header, footer {
  background-color: black;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: min-content;
  padding: 0.5rem;
}

header h1 {
  margin: 0;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.item-list-entry, .item-detail-entry {
  position: relative;
  border: 1px solid black;
  padding: 1rem;
  min-width: 20rem;
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.item-detail-entry {
  width: unset;
}

.item-list-entry .button-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.item-detail-entry .button-area {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

.item-list-entry > div:first-child {
  font-size: 150%;
  font-weight: bold;
}

.item-list-entry > div:nth-last-child(2) {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  font-size: 75%;
  color: gray;
}

form {
  width: 24rem;
}

form input, form textarea {
  width: 60%;
  font-family: inherit;
}

form input[type="number"] {
  width: 20%;
}

form textarea {
  height: 5rem;
}

.form-row {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  gap: 1rem;
  width: 100%;
}

.form-row.hidden {
  display: none;
}

.form-row.buttons {
  flex-direction: column;
  margin-top: 1rem;
  gap: 0;
}

.item-details-card {
  border: 1px solid red;
  padding: 1rem;
}

.item-attribute-list {
  border: 1px solid pink;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-attribute-list > h1 {
  margin-top: 0;
}

.details-button-area {
  background-color: salmon;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 50vw;
  min-height: 30rem;
  padding: 1rem;
  opacity: 0;
  scale: 1.05;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.25rem #000000;
  z-index: 1;
  transition: all 100ms ease;
}

.modal.create {
  background-color: rgb(93, 118, 93);
}
.modal.edit {
  background-color: rgb(101, 103, 64);
}
.modal.delete {
  background-color: rgb(103, 64, 64);
  min-height: 20rem;
}

.modal.showing {
  scale: 1;
  opacity: 1;
  pointer-events: all;
}

.button-area {
  display: flex;
  flex-direction: column;
}

.veil {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000cc;
  pointer-events: none;
  opacity: 0.1;
  transition: all 100ms ease;
  z-index: 1;
}

.veil.showing {
  opacity: 1;
  pointer-events: all;
}

.cart-widget {
  position: absolute;
  top: 0;
  right: 0;
  height: var(--header-height);
  max-height: var(--header-height);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 0 1rem;
  margin-right: 0.5rem;
  padding: 0.5rem 0;
}

.cart-widget > button {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 0;
  padding: 0 1rem;
  height: calc(var(--header-height) - 1.25rem);
}

.cart-widget > div {
  grid-column-start: 1;
  grid-column-end: 1;
}

.cart-widget > div:nth-of-type(2) {
  grid-row-start: 2;
}
